<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDD_Major_Work.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SDD_Major_Work.Properties.Settings>
            <setting name="Book9780241558324" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241558348" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241558331" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241558355" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241578186" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241558485" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780141322681" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780140375336" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241568644" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780141346496" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241558508" serializeAs="String">
                <value>Available</value>
            </setting>
            <setting name="Book9780241578179" serializeAs="String">
                <value>Available</value>
            </setting>
        </SDD_Major_Work.Properties.Settings>
    </userSettings>
</configuration>